* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --light-gray: #f5f5f5;
  --dark-gray: #e5e5e5;
  --accent-color: #6366f1;
  --main-color: #818cf8;
  --sub-color: #a5b4fc;
  --border-color: #404040;
}

body {
  font-family: "Playfair Display", serif;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid {
  display: grid;
  height: 90vh;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: auto;
  grid-template-areas:
    "title"
    "message-container"
    "gameboard-container"
    "btn-container";
  gap: 2rem;
  padding: 2rem;
}

.title,
.message-container,
.gameboard-container,
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.title {
  grid-area: title;
  font-family: "Playfair Display", serif;
  font-size: 5vh;
  background-color: var(--main-color);
  color: white;
  font: italic bold 60px "Playfair Display", Serif;
  text-shadow: -4px 3px 0 var(--sub-color), -14px 7px 0 var(--border-color);
}

.btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.8vh;
  font-style: italic;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    var(--accent-color) 0%,
    var(--sub-color) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em var(--border-color);
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em var(--accent-color);
}

.btn:active {
  box-shadow: 0 0.3em 1em -0.5em var(--accent-color);
}

.gameboard-container {
  grid-area: gameboard-container;
  background-color: var(--main-color);
  padding: 1rem;
  height: auto;
  width: auto;
}

.message-container {
  grid-area: message-container;
  font-weight: 500;
  font-size: 4vh;
  color: var(--light-gray);
}

.message,
.gameboard {
  color: white;
  color: transparent;
  text-shadow: 0 0 0 white;
}

.gameboard {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 2fr);
  gap: none;
  overflow: hidden;
  margin: 0;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.field {
  width: 17vh;
  height: 17vh;
  outline: 7px solid var(--sub-color);
  background-color: var(--main-color);
  font-size: 100px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin: 0;
}

.field:hover {
  background-color: var(--sub-color);
}
